head{
  background-color:  rgba(233, 236, 239, 1); /*-- (last)to adjust opacity of color--*/
}
body{
  background-color:  rgba(233, 236, 239, 1); /*-- (last)to adjust opacity of color--*/
}

.Anushka-centerheader{
  text-align: center;
}


.profile-pic
{
  border-radius: 50%;
}


#skills-hobbies {
  text-align: center;
  background-color: rgb(233, 236, 239);
  height: 400px;
}

#projects {
  text-align: center;
  background-color: rgb(233, 236, 239);
  height: 180px;
}

.item1
{
  background-color: rgb(169, 206, 246);
  height: 100px;
}
.item2
{
  background-color: rgb(201, 241, 210);
    height: 100px;
}
.item3
{
background-color:rgb(249, 203, 207);
  height: 100px;
}
.item4
{
background-color:rgb(246, 231, 183);
  height: 100px;
}
.item5
{
background-color:rgb(219, 220, 220);
  height: 100px;
}
.item6
{
background-color:rgb(129, 200, 205);
  height: 100px;
}
.item7
{
background-color:rgb(244, 202, 244);
  height: 100px;
}


#education {
  text-align: center;
  background-color: rgb(233, 236, 239);
  height: 205px;
}
.item8
{
  text-align: left;
  background-color:rgb(233, 236, 239);
}

#contact {
  text-align: center;
  background-color: rgb(233, 236, 239);
  height: 70px;
}

.item9
{
  text-align: left;
  background-color:rgb(233, 236, 239); 
}




